
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <form method="post" action="/Home/SendSMS">
        <input type="submit" value="发送"/>
        </form>
</body>
</html>
